@keyframes loading-open {
  0% { -webkit-clip-path: circle(0%); clip-path: circle(0%); }
  100% { -webkit-clip-path: circle(100%); clip-path: circle(100%); }
}

@keyframes loading-close {
  0% { -webkit-clip-path: circle(100%); clip-path: circle(100%); }
  100% { -webkit-clip-path: circle(0%); clip-path: circle(0%); }
}