@import './reset.css';
@import './fonts.css';
@import './animations.css';
@import './loader.css';

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  font-family: 'BebasNeue', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  display: none;
}

.quote-scroll-container {
  height: 100vh;
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#quote-container {
  position: relative;
  color: #fff;
  font-size: 5.25rem;
  max-width: 70%;
  margin: 50px auto;
  padding: 25px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
}
#quote-container:hover .load-button {
  opacity: 0.5;
  bottom: -35px;
  z-index: 1;
}

#quote-container:hover .load-button:hover {
  opacity: 1;
  z-index: 1;
}

#quote {
  max-width: 100%;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  z-index: 10;
}

.load-button {
  height: 35px;
  position: absolute;
  bottom: 60px;
  margin: 0 auto;
  display: block;
  background: none;
  border: none;
  font-size: 24px;
  opacity: 0;
  transition: opacity .25s ease, bottom .25s ease;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  outline: none;
}
.load-button:hover {
  opacity: 1;
}

#loading {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  clip-path: circle(100%);
  animation-timing-function: ease-out;
  background-color: #fff;
  color: #000;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#loading .text-content {
  opacity: 0;
  transition: opacity .25s ease;
}
#loading.hidden {
  clip-path: circle(0%);
  visibility: hidden;
}
#loading.opening {
  animation-name: loading-open;
}
#loading.hiding {
  animation-name: loading-close;
}
#loading.loaded .text-content {
  opacity: 1;
}

#loading .text-content {
  margin-bottom: 35px;
}

.heading {
  font-size: 6rem;
  margin-bottom: 5px;
}

.author {
  font-size: 32px;
}



/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
  html {
    font-size: 14px;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  html {
    font-size: 12px;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  html {
    font-size: 10px;
  }
  #quote-container {
    max-width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  html {
    font-size: 8px;
  }
}